<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2 class="form-signin-heading text-center">Create account</h2>
        <%= f.label :email, 'Email Address', class: 'sr-only' %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>

        <%= f.label :password, 'Password', class: 'sr-only' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

        <%= f.label :password_confirmation, 'Password confirmation', class: 'sr-only' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>


        <%= f.button "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>